.form {
  @apply w-11/12 m-auto;
  .select{
    @apply my-2;
    >select{
      @apply py-2 px-1 rounded-lg;
    }
  }
  .input{
    @apply flex flex-col;
    > label {
      @apply mt-0;
    }
    > input{
      @apply px-3 py-1 text-lg rounded w-1/2 mt-1 block text-sm
      file:mr-4 file:py-2 file:px-4
      file:rounded-md file:border-0
      file:text-sm file:font-semibold
      file:bg-blue-500 file:text-white
      hover:file:bg-blue-600;
    }
  }
  .info{
    @apply mt-3;

    > div {
      @apply flex items-center;

      > div {

        > input {
          @apply w-full px-2;
        }

        > button{
          @apply bg-red-400 hover:bg-red-300;
        }
      }

    }



  }
  > button{
    @apply my-3;


  }
}

.button{
  @apply px-3 py-1 rounded bg-amber-200 hover:bg-amber-400;
}