.input {
  @apply rounded-lg p-2 w-full text-stone-700 border border-[#cccccc] hover:border-[#b3b3b3] focus:outline-none focus:border-2;
}

.after{
  @apply w-5 h-5 absolute bg-red-400 flex items-center justify-center text-white rounded-full top-1/2 right-5;
}

.selectedWrapper {
  @apply flex justify-between gap-4;
  .selected{
    @apply w-full mt-2;
  }
}

.footer{
  @apply flex flex-shrink-0 m-auto w-full flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md mt-4;
  .closeButton{
    @apply inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight
    uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg
    focus:bg-purple-700 focus:shadow-lg focus:outline-none
    focus:ring-0 active:bg-purple-800
    active:shadow-lg transition duration-150 ease-in-out;
  }
  .saveButton{
    @apply inline-block px-6 py-2.5 bg-blue-600 text-white
    font-medium text-xs leading-tight
    uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg
    focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
    active:bg-blue-800 active:shadow-lg
    transition duration-150 ease-in-out ml-1;
  }
}

.addButton{
  @apply max-w-[250px] px-6 py-2.5 text-white bg-teal-700
  font-medium text-xs uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg
  focus:bg-purple-700 focus:shadow-lg focus:outline-none
  focus:ring-0 active:bg-purple-800
  active:shadow-lg transition duration-150 ease-in-out;
 }



.blockInfo{
  @apply flex gap-4 mt-2;
  > input {
    @apply flex-auto;
  }
  .deleteButton{
    @apply bg-rose-400 block w-10 h-10 rounded-full text-white flex-none flex justify-center items-center;
  }
}