.wrapper{
  .container {
    @apply border rounded-md shadow-3xl max-w-[700px] w-11/12 tablet:w-7/12 pointer-events-none absolute left-1/2 -translate-x-1/2 top-32;
    .cart{
      @apply border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-clip-padding rounded-md outline-none text-current;
      .title{
        @apply flex flex-shrink-0 items-center justify-between p-4  w-11/12 m-auto border-b border-gray-200 rounded-t-md;
        > h5 {
          @apply text-xl font-medium leading-normal;
        }
        > button {
          @apply box-content w-4 h-4 p-1 text-black border-none
          rounded-none opacity-50 focus:shadow-none focus:outline-none
          focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline;
        }
      }
      .body{
        @apply relative p-4 w-11/12 m-auto;
      }
      .footer{
        @apply flex flex-shrink-0 w-11/12 m-auto flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md flex-col-reverse sm:flex-row;
        > button {
          @apply w-full sm:w-auto mx-1 mt-2 sm:mt-0 inline-block px-6 py-2.5 text-white font-medium
          text-xs leading-tight uppercase rounded shadow-md focus:shadow-lg focus:outline-none focus:ring-0
          hover:shadow-lg active:shadow-lg transition duration-150 ease-in-out;
        }
        .deleteButton {
          @apply   bg-rose-600 hover:bg-rose-700
          focus:bg-rose-700 active:bg-rose-800;
        }
        .closeButton{
          @apply bg-purple-600 hover:bg-purple-700
          focus:bg-purple-700 active:bg-purple-800;
        }
        .saveButton{
          @apply bg-blue-600 hover:bg-blue-700
          focus:bg-blue-700 active:bg-blue-800;
        }
      }
    }
  }
}

.inputText{
  @apply rounded-lg p-2 w-full border border-[#cccccc] hover:border-[#b3b3b3] focus:outline-none focus:border-2;
}

